{% extends "base.html" %}

{% block content %}

<h2 class="title" style="border-bottom: 2px solid rgb(53, 53, 53);" >
  Welcome, {{ current_user.name }}!
</h2>
<p id="user_id" style="display: none;">{{ current_user.get_id() }}</p>
<p id="user_name" style="display: none;">{{ current_user.name }}</p>

<div id="wrapper">
  <div id="chatbox">

  </div>
  
   <div class="columns">
    <div class="column is-10">
     <div id="msg_box" class="msg_holder box has-background-light is-fullheight" style="height:400px; overflow:auto" >
      </div>
      <br>
        <div class="columns is-vcentered" name="info">
          <input class="input has-background-light column is-11" type="text" placeholder="enter text" id="msg_text">
          <button class="button column is-1" style="padding:1px; background-color: #80cdd600; border-style: none; "  onclick="sendMsg()" ><img src="{{url_for('static', filename='images/paper-plane.png')}}" style="max-height: 50px" > </button>
        </div>
    </div>
    <div class="user_holder column is-2 is-fullwidth"></div>
    </div>
   </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
<script>
  

  function updateUsers(){
      $.get("/index/users", function(json){
      $( 'div.user_holder' ).html("")
      for (const x in json.users) {
        if (json.users[x].id !=  document.getElementById('user_id').textContent) {
          $( 'div.user_holder' ).append('<button class="button is-dark is-outlined  is-2 is-fullwidth" onclick="changeReceiver('+ json.users[x].id +",'"+ json.users[x].name + "'" + ')" style="margin-top: 10px;">' + json.users[x].name + '</button> <br>' )
        }
      }
    });
  }
  
  setInterval(updateUsers, 3000);

  var receiverId =-1;
  var receiverName = '';
  

  function sendMsg(){
    if (receiverId != -1){
      var msgText =  document.getElementById("msg_text").value;
      $( '#msg_text' ).val("")
      var today = new Date();
      var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
      var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds() + today.getMilliseconds();
      var dateTime = date + ' ' + time;

      $.post('/index/message',   // url
      {'destination': receiverId, 'msg': msgText}, // data to be submit
        function(data, status, jqXHR) {// success callback
          var username =document.getElementById('user_name').textContent
          $( 'div.msg_holder' ).append('<div class="has-background-primary" style="width: 300px; border-radius: 25px; word-break: break-all;  margin: 15px; padding: 10px; border-radius: 10px;"> <p>' + username + ': ' + msgText + '</p> <p style="font-size:10px;">'+dateTime+'</p> </div>' )
        })
    }
  }

  function get_messages(){
    $.post('/index/get_messages',   // url
      {'destination': receiverId}, // data to be submit
        function(json, status, jqXHR) {// success callback
          for (const x in json.messages) {
            var sender = json.messages[x].sender
            var msg = json.messages[x].msg
            var date = json.messages[x].date

            var user_name =document.getElementById('user_name').textContent
            if (sender == user_name) {
              $( 'div.msg_holder' ).append('<div class="has-background-primary" style="width: 350px; border-radius: 25px; word-break: break-all;  margin: 15px; padding: 10px; border-radius: 10px;"> <p>' + sender + ': ' + msg + '</p> <p style="font-size:10px;">'+date+'</p> </div>' )

            }
            else {
              $( 'div.msg_holder' ).append('<div style="text-align: right;"> <div class="has-background-info" style="display: inline-block; width: 350px; border-radius: 25px; word-break: break-all;  margin: 15px; padding: 10px; border-radius: 10px;"> <p>' + sender + ': ' + msg + '</p> <p style="font-size:10px;">'+date+'</p> </div> </div>' )
            }
          }
      })
  }

  setInterval(update_messages, 3000);
  function update_messages(){
    if (receiverId != -1){
    $.post('/index/update_messages',   // url
      {'destination': receiverId}, // data to be submit
        function(json, status, jqXHR) {// success callback
          for (const x in json.messages) {
            var sender = json.messages[x].sender
            var msg = json.messages[x].msg
            var date = json.messages[x].date

            var user_name =document.getElementById('user_name').textContent
            if (sender == user_name) {
              $( 'div.msg_holder' ).append('<div class="has-background-primary" style="width: 350px; border-radius: 25px; word-break: break-all;  margin: 15px; padding: 10px; border-radius: 10px;"> <p>' + sender + ': ' + msg + '</p> <p style="font-size:10px;">'+date+'</p> </div>' )

            }
            else {
              $( 'div.msg_holder' ).append('<div style="text-align: right;"> <div class="has-background-info" style="display: inline-block; width: 350px; border-radius: 25px; word-break: break-all;  margin: 15px; padding: 10px; border-radius: 10px;"> <p>' + sender + ': ' + msg + '</p> <p style="font-size:10px;">'+date+'</p> </div> </div>' )

            }
          }
      })
    }
  }


  function changeReceiver(id,name){
    if (receiverId != id){
      receiverId=id;
      receiverName = name;
      $( 'div.msg_holder' ).html("");
      get_messages();
    }
  };


</script>

  

{% endblock %}